body {
    height: 100%;
    width: 100%;
}

#div {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 2px solid green;

}

#chech {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
#test{
    width: 100px;
    height: 100px;
    background: grey;
}